@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button:active {
  scale: 0.9;
}

:root {
  --horizontal-spacing: 1.1rem;
}

/*
=====================================
Toolbar (Header)
=====================================
*/

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--horizontal-spacing);
}

.toolbar__title {
  font-weight: bold;
  font-size: 1.4rem;
}

.toolbar__btn {
  z-index: 100;
  background: none;
  outline: none;
  border: none;
}

.toolbar__icon {
  font-size: 1.8rem;
}

.toolbar__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  transition: transform 300ms ease-in-out;
  translate: -100%;
}

.menu__list {
  list-style-type: none;
  margin-top: 5rem;
  padding: 0;
}

.menu__item {
  line-height: 4rem;
}

.menu__link {
  text-decoration: none;
  color: #3a4a42;
  font-weight: 600;
  font-size: 2rem;
}

/*
=====================================
Headline
=====================================
*/

.headline {
  padding: 0 var(--horizontal-spacing);
  text-align: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../img/bg-lines.png");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 700px 680px;
  position: relative;
  overflow-x: hidden;
}

.headline__title {
  margin-top: 2rem;
  font-size: 2.8rem;
  line-height: 3.3rem;
  font-weight: 700;
}

.title__name {
  color: #172b4d;
}

.title__role {
  color: #36b37e;
}

.headline__description {
  font-size: 1.2rem;
  color: #172b4d;
}

.headline__social {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.headline__btn-container {
  display: flex;
  justify-content: center;
}

.headline__btn {
  background-color: #fff;
  border: 2px solid #dfe1e6;
  border-radius: 50%;
  display: flex;
  align-content: center;
}

.headline__btn span {
  color: #172b4d;
  line-height: 2.7rem;
  font-size: 2rem;
}

.headline__decorator-rectangle {
  position: absolute;
  top: 0%;
  right: -15%;
  z-index: -1;
  width: 130px;
}

.headline__decorator-cube {
  position: absolute;
  top: 18%;
  left: 6%;
  z-index: -1;
  width: 35px;
  opacity: 0.5;
}

.headline__decorator-cube-incomplete {
  position: absolute;
  top: 30%;
  right: -38%;
  z-index: -1;
  width: 180px;
}

.headline__decorator-cube-left {
  position: absolute;
  top: 65%;
  left: -10%;
  z-index: -1;
  width: 80px;
}

.headline__decorator-cylinder {
  position: absolute;
  bottom: 8%;
  right: -2%;
  z-index: -1;
  width: 60px;
}
