@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-padding-top: 90px;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

:root {
  --horizontal-spacing: 1.1rem;
  --border-radius: 8px;
}

/*
=====================================
Toolbar (Header)
=====================================
*/

.header {
  background-image: 
    url("../img/decorators/headline/circle-lines.svg"), 
    url("../img/decorators/headline/rectangle.svg"), 
    url("../img/decorators/headline/cube-opacity.svg"), 
    url("../img/decorators/headline/cube.svg"), 
    url("../img/decorators/headline/cube-left.svg"), 
    url("../img/decorators/headline/cylinder.svg"), 
    url("../img/decorators/headline/cylinder-opacity.svg"),
    url("../img/decorators/headline/pyramid.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 
    center 20%, 
    top 5% right -20%, 
    top 25% left 5%, 
    top 40% right -50%, 
    bottom 25% left -8%, 
    bottom 10% right, 
    bottom 30% left 40%,
    top 0 left -500%;
  background-size: 
    700px 680px, 
    110px, 
    30px, 
    150px, 
    80px, 
    50px, 
    25px, 
    0px;
    max-width: 1280px;
    margin-inline: auto;

}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--horizontal-spacing);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.toolbar__title {
  font-weight: bold;
  font-size: 1.4rem;
  color: #28352f;
}

.toolbar__btn {
  z-index: 150;
  background: none;
  outline: none;
  border: none;
}

.toolbar__icon {
  font-size: 1.8rem;
}

.menu__list {
  list-style-type: none;
  padding-left: 0;
}

.menu__link {
  text-decoration: none;
  color: #3a4a42;
  font-weight: 600;
}

/*
=====================================
Headline
=====================================
*/

.headline {
  padding: 0 var(--horizontal-spacing);
  text-align: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headline__title {
  margin-top: 2rem;
}

.headline__title,
.works__title,
.aboutme__title,
.footer__title {
  font-size: 2.8rem;
  line-height: 3.3rem;
  font-weight: 700;
}

.title__name,
.works__title,
.aboutme__title,
.footer__title {
  color: #172b4d;
}

.title__role {
  color: #36b37e;
}

.headline__description,
.aboutme__description {
  font-size: 1.2rem;
  color: #172b4d;
}

.social {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1.2rem;
  list-style-type: none;
  padding-left: 0;
}

.headline__link-container {
  display: flex;
  justify-content: center;
}

.headline__link {
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #dfe1e6;
  border-radius: 50%;
  display: flex;
  align-content: center;
}

.headline__link span {
  color: #172b4d;
  font-size: 2rem;
  padding: 0.4rem;
}

@media (max-width: 768px) {
  /*
  =====================================
  Toolbar (Header)
  =====================================
  */
  .toolbar {
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  }
  .toolbar__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    transition: translate 350ms ease-in-out;
    translate: -100%;
  }

  .menu__list {
    margin-top: 5rem;
  }

  .menu__item {
    line-height: 4rem;
  }

  .menu__link {
    font-size: 2rem;
  }

  /*
  =====================================
  Headline
  =====================================
  */

  .headline {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  /*
  =====================================
  Toolbar (Header)
  =====================================
  */
  .header {
    background-position: 
      top 45% center, 
      top -8% right 20%, 
      top 10% left 35%, 
      top 20% right -5%, 
      bottom 20% left 10%, 
      bottom 18% right 18%, 
      bottom 30% left 40%,
      top 10% left -10%;
    background-size: 
      1500px 1000px, 
      130px, 
      50px, 
      200px, 
      125px, 
      190px, 
      130px,
      150px;
  }
  .toolbar {
    justify-content: center;
  }
  .toolbar__title, .toolbar__btn {
    display: none;
  }
  .menu__list {
    display: flex;
    gap: 1.8rem;
  }
  .menu__link {
    color: #344563;
  }

  /*
  =====================================
  Headline
  =====================================
  */

  /* .header {
    background-position: 50% 80%, 125% 0, 2% 21%, 172% 38%, -11% 75%, 102% 94%, 44% 71%;
    background-size: 1600px 1580px, 130px, 35px, 180px, 80px, 60px, 25px;
  } */

  .headline {
    gap: 2rem;
  }
  .headline__title {
    margin-top: 10rem;
    font-weight: 800;
  }
  .headline__description {
    max-width: 768px;
    margin-inline: auto;
  }
  .headline__social {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .header {
    background-position: 
      top 65% center, 
      top -8% right 25%, 
      top 10% left 35%, 
      top 20% right -5%, 
      bottom 20% left 10%,
      bottom 18% right 18%, 
      bottom 30% left 40%,
      top 25% left 5%;
    background-size: 
      1600px 1300px, 
      130px, 
      50px, 
      280px, 
      125px, 
      190px, 
      130px,
      160px;
  }
}

@media (min-width: 1280px) {
  .header {
    background-position: 
      top 65% center, 
      top -8% right 25%, 
      top 10% left 35%, 
      top 20% right 0%, 
      bottom 20% left 10%,
      bottom 18% right 18%, 
      bottom 30% left 40%,
      top 25% left 5%;
    background-size: 
      1600px 1300px, 
      130px, 
      50px, 
      280px, 
      125px, 
      190px, 
      130px,
      160px;
  }
}

/*
=====================================
My works section
=====================================
*/

.works {
  padding: 0 var(--horizontal-spacing);
}

.works__title,
.aboutme__title {
  text-align: center;
  margin-bottom: 1rem;
}

.works__title-underline {
  border: 3px solid #36b37e;
  background-color: #36b37e;
  border-radius: 4px;
  width: 50px;
  margin-inline: auto;
  margin-bottom: 3.5rem;
}

.works__cards {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.works__card {
  border: 3px solid #d4dcd8;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image-container {
  position: relative;
}

.card__image-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  content: "";
  background-color: #ebf0eea7;
  transition: background-color 400ms ease-in-out;
}

.works__card:hover > .card__image-container::before {
  background-color: #ebf0ee20;
}

.card__image {
  object-fit: cover;
  height: 250px;
}

.card__content {
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: #fff;
  translate: 0 -10px;
}

.card__title {
  color: #3a4a42;
  font-size: 2rem;
  text-align: center;
}

.card__technologies {
  color: #3a4a42;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 0;
  list-style-type: none;
  margin-block: 1rem;
}

.card__technologies li {
  border-radius: var(--border-radius);
  padding: 0.4rem 0.6rem;
  font-weight: 500;
  background-color: #ebf0ee;
  color: #000;
  width: max-content;
}

.card__button,
.aboutme__resume,
.footer__button {
  font-size: 1.3rem;
  background-color: #36b37f;
  color: #fff;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  padding: 0.8rem 1rem;
  display: block;
  margin-inline: auto;
  transition: box-shadow 250ms ease-in-out;
}

/*
=====================================
About me section
=====================================
*/

.aboutme__header {
  padding: 0 var(--horizontal-spacing);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/decorators/about_me/origami-bird.png"), url("../img/decorators/about_me/origami-ship.png");
  background-position: 115% 8%, -25% 84%;
  background-size: 120px, 140px;
  background-repeat: no-repeat;
}

.aboutme__description {
  text-align: center;
  line-height: 2rem;
}

.aboutme__resume {
  text-decoration: none;
  border-radius: var(--border-radius);
  width: max-content;
  margin-block: 1rem;
}

.card__button:hover,
.aboutme__resume:hover,
.footer__button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.card__button:active,
.aboutme__resume:active,
.footer__button:active {
  background-color: #008552;
}

.aboutme__cards {
  padding: 0 var(--horizontal-spacing);
  display: grid;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.aboutme__card {
  background-color: #ebf0ee;
  padding: 2rem;
  border-radius: var(--border-radius);
}

.card__icon {
  margin: 1rem 0 5rem 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 1rem;
  width: max-content;
  margin-inline: auto;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.card__topic {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-bottom: 1.5rem;
}

.card__list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.card__list li {
  font-weight: 600;
  background-color: #fff;
  padding: 0.8rem 0.7rem;
  border-radius: var(--border-radius);
  letter-spacing: 0.03em;
  color: #36b37e;
}

/*
=====================================
Footer
=====================================
*/

.footer {
  padding: 0 var(--horizontal-spacing);
  background-image: url("../img/decorators/footer/column.png");
  background-repeat: no-repeat;
  background-position: 130% 95%;
  background-size: 140px;
}

.footer__title {
  text-align: center;
  margin-bottom: 4rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer__form :is(input, textarea) {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid #dbe2de;
  outline: none;
  resize: none;
}

.footer__form :is(input:focus, textarea:focus) {
  border: 2px solid #71c7a1;
}

.footer__social {
  margin: 3rem 0 1rem;
}

.footer__mail {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #42526e;
  margin-bottom: 4rem;
}
